/* body {
    background-image: url('../img/NavBar2.png');
    background-size:cover;
    box-sizing: border-box;
} */

.contenedor{
    /* width: 40vh;
    height: 8vh;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center; */
    background-image: url('../img/NavBar2.png');
  }
  
.Titulo{
    text-align: center;
    background-color: #926482;
    color: rgb(234, 235, 210);
    margin: 0%;
    position:relative;
    padding: 0 1rem;
    border:2px outset rgb(197, 135, 171);
    /* font-style: italic; */
    /* width:100%;
    height: auto; */
    
    
}

.Home-link {
    color: #61dafb;
  } 